<% @songs.each do |song| %>
  <div class="song">
    <h3>
    	<a href ="/songs/new <%= song.id %>"><%= song.title %> </a> <small> (by: <%= song.author %>)</small>
      
    </h3>
    <p>
    	<%= song.content %>
    	<div id="app">
  <div class="container-fluid">
    <ul class="list-group">
      <post v-for="post in posts" :post="post"> </post>
      <p><i>Posted By: <%= song.user.name %></i></p>
    </ul>
  </div>
</div>


    </p>	
  </div>
<% end %>





<a class = "btn btn-primary btn-lg" href="/songs/new" id = "post_button" > Post your favourite song! </a> 


